/* Webfont: OldManEloquent */@font-face {
    font-family: 'OldManEloquent';
    src: url('OldManEloquent.eot'); /* IE9 Compat Modes */
    src: url('OldManEloquent.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OldManEloquent.woff') format('woff'), /* Modern Browsers */
         url('OldManEloquent.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OldManEloquent.svg#OldManEloquent') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

